<section class="appearance" data-id="{{ item.id }}">
    <div class="appearance-left">
        <img src="{{ item.image.url }}">
        {{#each item.product_occurrences}}
            <div class="product-indicator" style="top: {{position.y}}%; left: {{position.x}}%;" data-uuid="{{product.id}}"></div>
        {{/each}}
    </div>
    <div class="appearance-right">
        <header>
            <h2><img class="avatar" src="{{ item.subject.avatar.url }}"> {{ item.subject.name }}</h2>
            <h1>{{ item.title }}</h1>
        </header>

        <div class="appearance-products">
            <header>
                <h1>Products</h1>
            </header>
            <div class="appearance-products-inner">
                {{#each products}}
                    <article class="product" data-uuid="{{id}}">
                        <div class="actual">
                            <header class="image">
                                <h1>Actual</h1>
                                <img src="{{image.url}}">
                            </header>
                            <section class="info">
                                <h1>{{ name }}</h1>
                                <h2>{{ brand.name }}</h2>
                            </section>
                        </div>
                        {{#each similars}}
                            <div class="similar">
                                <header class="image">
                                    <h1>{{ similar_type }}</h1>
                                    <img src="{{image.url}}">
                                </header>
                                <section class="info">
                                    <h1>{{ name }}</h1>
                                    <h2>{{ brand.name }}</h2>
                                </section>
                            </div>
                        {{/each}}
                    </article>
                {{/each}}
            </div>
        </div>
    </div>
</section>